@{
    ViewBag.Title = "Home Page";
    List<Buiness.Pagina> paginas = ViewBag.paginas;
}

<div class="jumbotron">
    <h1>Paginas</h1>
    <ul>
        @foreach(var p in paginas)
        {
            <li>@p.Nome</li>
        }
    </ul>
</div>